app-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}
p{
  color: black;
  padding-bottom: 2;
  margin: 0;
}
h2{
  color: #19f7f0;
  padding-bottom: 2;
  margin: 0;
}
.search-bar {
  margin-bottom: 20px;
  text-align: center;
}

.search-bar input {
  padding: 8px;
  width: 300px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tabs button {
  margin: 0 5px;
  padding: 10px 20px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.tabs button.active {
  background-color: #2196f3;
  color: #fff;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /* grid-gap: 10px; */
  align-items: center;
}

.image-gallery img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}

.image-gallery img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
